@using Microsoft.AspNetCore.Identity;
@using ShoeApp.ViewModels;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th></th>
            <th>Tên</th>
            <th>Tên đăng nhập</th>
            <th>Email</th>
            <th>Vai trò</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @if (item.ProfilePicture != null && item.ProfilePicture.Length > 0)
                    {
                        <img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))" />
                    }
                    else
                    {
                        <span>No image</span>
                    }
                </td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    @if (item.Roles.Count() == 0)
                    {
                        <span>No role</span>
                    }
                    else
                    {
                        @string.Join(" , ", item.Roles.ToList())
                        ;

                    }
                </td>
                <td>
                    <div class="text-center">
                        <form asp-action="LockUnlock" asp-route-userId="@item.Id" method="post">
                        <a asp-action="Edit" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">Sửa</a>
                                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                {
                                <button type="submit" class="btn btn-success text-white" style="cursor:pointer">
                                    <span>Khoá</span>
                                </button>
                            }
                                else
                                {
                                <button type="submit" class="btn btn-warning text-white" style="cursor:pointer">
                                        <span>Mở khoá</span>
                                </button>
                            }
                        </form>
                        <form asp-action="Delete" asp-route-userId="@item.Id" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xoá tài khoản này không?')">
                            <button type="submit" class="btn btn-danger">
                                <span>Xoá</span>
                            </button>
                        </form>

                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>