@model IEnumerable<ShoeApp.Models.Category>
@{

    ViewData["Title"] = "Danh sách loại sản phẩm";
}
<div>
    <div class="card-header pb-0">
        <div class="d-lg-flex">
            <div>
                <h5 class="mb-0">@ViewData["Title"] </h5>
            </div>
            <div class="ms-auto my-auto mt-lg-0 mt-4">
                <div class="ms-auto my-auto">

                    <a data-bs-toggle="modal" data-bs-target="#Create" class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; Thêm mới</a>
                    <button type="button" class="btn btn-outline-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#import">
                        Import
                    </button>
                    <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog mt-lg-10">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                                    <i class="fas fa-upload ms-3"></i>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>You can browse your computer for a file.</p>
                                    <input type="text" placeholder="Browse file..." class="form-control mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="importCheck" checked="">
                                        <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-gradient-primary btn-sm">Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv" type="button" name="button">Export</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-flush" id="datatable-search">
            <thead class="thead-light">
                <tr>
                    <th>
                        Tên loại sản phẩm
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span>
                                @item.CategoryName
                            </span>
                        </td>
                        <td class="text-sm">
                            <a data-bs-toggle="modal" style="margin-right:30px" data-bs-target="#Edit-@item.Id">
                                <i class="fas fa-user-edit text-secondary"></i>
                            </a>
                            @Html.ActionLink("","Delete","Category",new {@id=item.Id},new {@area = "Admin",@class="fas fa-trash text-secondary"})
                        </td>
                    </tr>
                    <div class="col-md-4">
                        <!-- Modal -->
                        <div class="modal fade" id="Edit-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <form asp-action="Edit" asp-route-Id="@item.Id">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Tên loại sản phẩm</label>
                                                <input type="text" class="form-control" value="@item.CategoryName" name="Name">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn bg-gradient-primary">Lưu thay đổi</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </tbody>
        </table>
    </div>

</div>
<partial name="_PagingAdmin" />
<div class="col-md-4">

    <!-- Modal -->
    <div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form asp-action="Create">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Tên loại sản phẩm</label>
                            <input type="text" class="form-control" name="Name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn bg-gradient-primary">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
        searchable: true,
        fixedHeight: true
    });
    document.querySelectorAll(".export").forEach(function (el) {
        el.addEventListener("click", function (e) {
            var type = el.dataset.type;

            var data = {
                type: type,
                filename: "soft-ui-" + type,
            };

            if (type === "csv") {
                data.columnDelimiter = "|";
            }

            dataTableSearch.export(data);
        });
    });
</script>
